
h1 {
    font-family: 'Shrikhand', cursive;
    font-size: 30px;
    font-weight: bold;
    margin: 0 auto;
    text-align: center;
    background-color: yellow;
    border-style:solid;
    border-width:2px;
    border-color:black;
    color:black;
    border-radius:5px;
}

p {
    font-family: 'Shrikhand', serif;
    font-size: 15px;
    font-weight: bold;
    margin: 0 auto;
    text-align: center;
    background-color: blue;
    color: white;
    border-width: 2px;
    border-color: black;
    border-style: solid;
    margin-top: 10px;
    border-radius:5px;
    
}

#allMyTrains {
    border-style: solid;
    border-width: 2px;
    border-color: black;
    border-radius: 10px;
    font-family: 'Raleway', sans-serif;
    color:black;
}

.jumbotron {
    background-color:darkslategrey;
}

img {
    max-width:100%;
}

.form-group {
    font-family: 'Raleway', sans-serif;
    color:white;
}

.form-control {
    font-family: 'Raleway', sans-serif;
}

#add {
    background-color:black;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    border-radius: 10px;
    font-family: 'Raleway', sans-serif;
}

